<nav class="navbar navbar-expand-lg navbar-inverse navbar-light bg-light">
    <a class="navbar-brand" href="#">Demos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']" routerLinkActive="active"> Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['usuario', 10]">Usuario</a>
            </li>
        </ul>
    </div>
</nav>