<app-ng-style></app-ng-style>

<app-css></app-css>

<p>Hola mundo papus</p>

<app-classes></app-classes>

<br>

<app-loading></app-loading>

<h1 [appResaltado]="'orange'">Hola Perros :v</h1>

<app-ng-switch></app-ng-switch>