<p [style.fontSize.px]="size">
    ng-style works!
</p>

<button class="btn btn-primary" (click)="size = size + 5">
    <i class="fa fa-plus"></i>
</button>

<button class="btn btn-primary" (click)="size = size - 5">
    <i class="fa fa-minus"></i>
</button>