<button [disabled]="loading" (click)="ejecutar()" class="btn btn-primary">
  <i [ngClass]="{ 'fa-save' : !loading, 'fa-refresh fa-spin' : loading }" class="fa"></i>
  <span *ngIf="loading">Vamos a animarlo</span>
  <span *ngIf="! loading">Espere porfavor</span>
</button>