<div [ngClass]="alert" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button class="btn btn-info" (click)="alert = 'alert-info'">
  Info
</button>

<button class="btn btn-danger" (click)="alert = 'alert-danger'">
  Danger
</button>

<button class="btn btn-success" (click)="alert = 'alert-success'">
  Success
</button>

<h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">Hola Mundo!!!</h3>

<button type="button" [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}" class="btn" (click)="propiedades.danger = ! propiedades.danger">Cabiar estado objeto</button>